.controller.ds4 {
  background-image: url("https://github.com/ohmygodascripter/movas2/blob/main/controller.png?raw=true") !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.controller.ds4 svg {
  opacity: 0.75 !important;
}
